body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.pointer-cursor {
  cursor: pointer !important;
}

.section-mb {
  margin-bottom: 5em;
}

table tr .custom-thead {
  font-weight: bolder;
  background-color: lightgray;
  width: 10em;
}

.loading-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
}

.loading-component > .text {
  background-color: lightgray;
  padding: 15px;
}

.footer-component {
  padding: 1em 0;
  background-color: lightgray;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}